@model List<CourseViewModel>

<h1>Courses Catalog</h1>

@foreach(CourseViewModel course in Model)
{
    <div class="row course">
        <div class="col-md-1">
            <img src="@course.ImagePath" width="50">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <author>@course.Author</author>
        </div>
        <div class="col-md-2 rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="col-md-2 price">
            @course.CurrentPrice<br/><s>@course.FullPrice</s>
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="5">Course details</a>
        </div>
    </div>
}

